PRIVATE_KEY="0x..."
PROVIDER_URL="https://..."

MUMBAI_CHAIN_ID="80001"
GOERLI_CHAIN_ID="5"
TOKEN_ADDRESS="0x..."
LIQUIDITY_POOL_CONTRACT_ADDRESS="0x..."

LP_ALLOWANCE_AMOUNT_WEI="1000000000000000000000"
DEPOSIT_AMOUNT_WEI="300000000000000000000"
