PRIVATE_KEY=""
PROVIDER_URL_GOERLI="https://eth-goerli.alchemyapi.io/v2/xxxx"
PROVIDER_URL_MUMBAI="https://polygon-mumbai.g.alchemy.com/v2/xxx"

MUMBAI_CHAIN_ID="80001"
GOERLI_CHAIN_ID="5"
TOKEN_ADDRESS_MUMBAI="0xdA5289fCAAF71d52a80A254da614a192b693e977"
TOKEN_ADDRESS_GOERLI="0xb5B640E6414b6DeF4FC9B3C1EeF373925effeCcF"
LIQUIDITY_POOL_CONTRACT_ADDRESS_MUMBAI="0x...."
LIQUIDITY_POOL_CONTRACT_ADDRESS_GOERLI="0x...."

LP_ALLOWANCE_AMOUNT_WEI="200000000"
DEPOSIT_AMOUNT_WEI="100000000"